:root {
    --background-color: #FFF;
    --btn-color: #3ABEF9;
    --btn-text-color: #FFF;
    --project-card-bg: #FFFFF00;
    --text-color: #222;
    --form-text-color: #777;
    --footer-text-color: #888;
    --skill-check-color: #00FF00;

}


[data-theme='dark'] {
    --background-color: #222;
    --btn-color: #FFF;
    --btn-text-color: #222;
    --project-card-bg: #FFF;
    --text-color: #FFF;
    --form-text-color: #FFF;
    --footer-text-color: #BBB;
    --footer-text-color: #BBB;
    --skill-check-color: #FF0000;    
}

body {
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
}

#root {
    display: flex;
    flex-direction: column;
    gap: 60px;
}


h1, h2, h3, p {
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

h2, h3, p {
    font-family: 'Roboto', monospace;
}

h1, h2 {
    text-transform: uppercase;
}

h2, h3 {
    font-size: 20px;
}

h1 {
    font-family: 'Poppins', monospace;
    font-size: 25px;
}



p {
    font-size: 16px;
    font-weight: 400;
}

.resumeButton {
    cursor: pointer;
}

.sectionTitle {
    margin-bottom: 30px;
}

@media (width >= 800px) {
    #root {
        gap: 100px;
    }

    h1{
        font-size: 40px;
    }

    h2, h3 {
        font-size: 25px;
    }

    p {
        font-size: 20px;
    }

    .sectionTitle {
        margin-bottom: 60px;
    }


    @media (width >= 1400px) {
        #root {
            gap: 200px;
        }
    
        h1{
            font-size: 50px;
        }
    
        .sectionTitle {
            margin-bottom: 80px;
        }
    }

    
}

